body {
    height: 2000px;
}
header {
    /* display: inline-block; */
    background-color: white;
    width: 90%;
    margin-left: 5%;
    position: fixed;
    top: 0%;
    height: 100px;
    z-index: 10;
    margin-bottom: 20px;
}

.title h1 {
    float: left;
    margin: 20px 10px;
    
}

.title a {
    color: black;
    margin-right: 270px;
}

a {
    text-decoration: none;
}

.right {
    float: right;
}

.search {
    border: 1px solid #999;
    border-radius: 20px;
    /* overflow: hidden; */
    width: 170px;
    height: 20px;
    margin-top: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 170px;
}

.right input {
    font-family: FontAwesome;
    border: none;
}

.right input[type="text"]{
    width: 120px;
    margin-left: 8px;
}

.right input[type="text"]:focus{
    outline: none;
}

.right input[type="submit"]{
    width: 2em;
    background: none;
    padding-right: 0;
    padding-left: 0;
}


.right ul {
    display: inline-block;
}

li {
    list-style-type: none;
}

.right li {
    list-style: none;
    size: 100px;
    float: right;
    padding-right: 10px;
}

.right a {
    color: black;
    
}
